body {
  background: #AA076B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #61045F, #AA076B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   ;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container {
  background: #fff;
  margin: 64px;
  border-radius: 20px;
  padding: 64px;
  width: 900px;
  font-size: 18px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 420px;
}

.titulo {
  margin-left: 16px;  
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
  }

#sobre-mim, #informacoes, #profissional, #portfolio {
  display: flex;
  color: #fff;
  flex-direction: column;
  background: purple;
  margin-top: 32px;
  padding: 32px;
  border-radius: 20px;
}

#sobre-mim {
  text-align: center;
}

#esquerda {
  float: left;
  width: 360px;
}

#profissional {
  float: right;
  width: 450px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  background: #AA076B;
}

p {
  font-weight: 400;
  line-height: 48px;
}

ul {
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  list-style: none;
  margin-left: -20px;
}

a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}

#rodape {
 font-size: 20px;
 text-align: center;
 margin-bottom: 50px;
}